.list {
  background-color: var(--bg-2);
  border-radius: 1.2rem;
  padding: 1.4rem;
  width: 100%;

  &__items {
    @include flex($direction: column, $align: stretch);
    gap: 1.5rem;
  }

  &__empty {
    @include text-style(var(--black-2), 500);
    background-color: var(--gray-2);
    border-radius: 0.8rem;
    padding: 0.5rem 1rem;
    margin: 0 auto;
    width: max-content;
  }
}
