@mixin flex($direction: row, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin box-shadow($shadow: 0px 0px 4px 0px rgba(0, 67, 101, 0.05)) {
  box-shadow: $shadow;
}

@mixin text-style($color: var(--black-1), $size: 16px, $weight: 400) {
  color: $color;
  font-size: $size;
  font-weight: $weight;
}
