.header {
  @include flex($justify: space-around);
  background-color: var(--primary);
  padding: 1rem;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;

  &__logo {
    @include flex();
    gap: 1rem;
  }
}

.menu {
  @include flex();
  gap: 1rem;

  &__item {
    @include text-style($color: #363636, $weight: 500);
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;

    &:not(&_active):hover {
      background-color: #3636361a;
    }

    &_active {
      background-color: #363636;
      color: white;
    }
  }
}
