.modal {
  @include flex();
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  animation: outAnimation 0.3s ease-out;
  animation-fill-mode: forwards;

  &_open {
    animation: inAnimation 0.3s ease-in;
  }

  &__content {
    @include flex(column);
    background-color: var(--bg-1);
    border-radius: 0.8rem;
    max-width: 40rem;
    width: 90%;
    padding: 2rem;
    position: relative;
    gap: 2rem;
    animation: scaleOutAnimation 0.3s ease-out;

    .modal_open & {
      animation: scaleInAnimation 0.3s ease-in;
    }
  }

  &__close-icon {
    width: 2.25rem;
    height: 2.25rem;
    background-color: var(--gray-1);
    color: var(--black-2);
    border-radius: 0.4rem;
    cursor: pointer;
    position: absolute;
    right: 0;
    top: -10px;
    transform: translateY(-100%);

    &:hover {
      background-color: crimson;
      color: white;
    }
  }
}

@keyframes inAnimation {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes outAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes scaleInAnimation {
  0% {
    transform: scale(0.9);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scaleOutAnimation {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.9);
  }
}
