.modal {
  @include flex();
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  background-color: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s linear 0.3s, opacity 0.3s linear;

  &_open {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s linear, visibility 0s;
  }

  &__content {
    @include flex(column);
    background-color: var(--bg-2);
    border-radius: 0.8rem;
    max-width: 40rem;
    width: 90%;
    padding: 2rem;
    position: relative;
    gap: 2rem;
    transform: scale(0.9);
    transition: transform 0.3s linear;

    .modal_open & {
      transform: scale(1);
    }
  }
}
